body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: flex;
}

#display-wrapper {
  font-family: "Gotham Pro", "Gotham", "Helvetica Neue", "Helvetica", "Seravek", "Gill Sans Nova", "Calibri", "DejaVu Sans", source-sans-pro, sans-serif;
  font-weight: 600;
  font-size: 400%;
  line-height: 1.2;
  background-color: rgb(0, 0, 0);
  color: white;
  overflow: hidden;
  position: relative;
  width: 630px;
  height: 550px;
}

#display-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1em;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

#display-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1em;
  z-index: 2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);

}

#name-list {
  padding-left: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  font-size: 110%;
}

#name-list .name {
  padding-left: 2em;
  padding-right: 0.5em;
  padding-bottom: 0.1em;
  padding-top: 0.5em;
  text-indent: -2em;
  transition: all 0.75s ease-in-out;
  position: absolute;
  z-index: 9;
}

#scanner-wrapper {
  padding: 0.5em;
  background-color: #eee;
  overflow: hidden;
  font-size: 150%;
}

#scanner-focus-warning {
  background: #f00;
  color: #fff;
}

#scanner-form:focus-within #scanner-focus-warning {
  display: none;
}

#scanner-queue li.loading {
  color: #009;
}